body{
  padding: 0;
  margin: 0;
}


.home-container{
  background-color: #2a9d8f;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container{
display: flex;
flex-direction: column;
margin: 0 0 0 2em
}

.header-animation>span{
  margin-top: 2em;
}

.header-animation{
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}

.animation-walking-man{
  width: 15.625em;
  height: 15.625em;
  margin: 0 0 0 3em;
  
}


.header-container>h1, span{
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5em;
  color: #e9c46a;
  text-shadow: 0 1px 2px #e9c46a;
 
}

.header-container>h1{
  margin-top: 0px;
}

.topic-change-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2a9d8f;
  justify-content: center;
  align-items: center;
}

.meditating-fox{
  width: 43.75em;
  height: 25em;
  padding: 0;
}

.exercise-page{
  width: 100vw;
  height: 100vh;
  background-color: #287271;
  display: flex;
  justify-content: center;
}


.link{
  margin-right: 1em;
  text-decoration: none;
  color: #f4a261;
  font-family: "Funnel Display", sans-serif;
  font-weight: 600;
  font-size: 2em;
}

.link-another-topic{
  text-decoration: none;
  color: #f3e2b6;
}



.link-and-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.link-container{
  margin: 10em 7em 0 0;
  padding: 0.5rem 2rem;
        border-radius: 8px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background:#e76f51;
        font-weight: bold;
        font-family: "Funnel Display", sans-serif;
        box-shadow: 0 4px 0 #264653;
}

.button-container{
  display: flex;
  flex-direction: column;
  margin: 10em 7em 3em 0}

.button-container>button{
        padding: 0.5rem 2rem;
        margin-bottom: 3em;
        border-radius: 8px;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background: #4f46e5;
        color:#e9c46a;
        font-weight: bold;
        font-family: "Funnel Display", sans-serif;
        box-shadow: 0 4px 0 #264653;
}

.links-container{
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.exercise-container{
  display: flex;
  flex-direction: row;
  background-color: #287271;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.exercise-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.exercise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.animation-container{
  display: flex;
  flex-direction: column;
  margin-top: 7em;
}

.thinking-robot{
  width: 12.5rem;
  height: 12.5rem;
  justify-self: flex-end;
}

.celebrating-giraffe{
  width: 24rem;
  height: 15rem;
  padding: 0;
 
}



.meditating-fox{
  width: 37.5rem;
  height: 18.75rem;
  padding: 0;
}

.correct-answer-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.correct-answer-span{
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

.correct-answer-p{
  padding: 0;
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  margin: 0;
  font-weight: 900;
  color: #e9c46a;
}

.thinking-monkey-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -4em 0 2em 0;
}

.thinking-monkey{
  width: 12.5rem;
  height: 12.5rem;
  margin: 0 0 -0.85em 3em;
  
}

.thinking-monkey-p{
  margin: 5.8em 0 0 0;
  padding: 0;
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #e9c46a;
}

.cat-peeping{
  width: 10rem;
  height: 10rem; 
  margin: 0;
}

.cat-peeping-container{
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.cat-peeping-container > svg{
  transform: translate(-50%, -50%) scale(1.3);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.inline-container{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  
}

.question-container>.inline-container>.question>.motion-p{
  font-family: "Funnel Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #e9c46a;
  margin: 1.8em 2.5em 0 0;  
  
}

.question-span{
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #e9c46a;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 2em;
}

.right-answer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giraffe-container{
   width: 24rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
}

.giraffe-container > svg{
  transform: translate(-50%, -50%) scale(1.3);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.right-answer-span{
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  
}

.answer-container{
  width: 10.75rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #4f46e5;
  color:#e9c46a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  box-shadow: 0 4px 0 #264653;
  margin: 0 0 1em 0;
  
}


.numbers-container{
  width: 15em;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;

}

.bouncing-buttons{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        background: #4f46e5;
        color:#e9c46a;
        font-weight: bold;
        font-family: "Funnel Display", sans-serif;
        box-shadow: 0 4px 0 #264653;
}

.points-container{
  position: relative;
  width: 10em;
  height: 500px;
  overflow: hidden;
}

.points-container-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Funnel Display", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #e9c46a;
}

.points-span{
  font-family: "Funnel Display", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #e76f51;
}

.points{
  font-family: "Funnel Display", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #e9c46a;
 

  position: absolute;
  left: 50%;
  top: -120px;
  transform: translateX(-50%);

  animation: fallBounce 1.2s ease-out forwards;
  
}

@keyframes fallBounce {

  0% {
    top: -120px;
  }

  70% {
    top: calc(100% - 100px);
  }

  85% {
    top: calc(100% - 140px);
  }

  100% {
    top: calc(100% - 100px);
  }
}

.goal-container{
  display: flex;
  flex-direction: column;
}

.goal-h4{
  font-family: "Funnel Display", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: #e9c46a;
  margin: 0;

}

.play-basketball{
  width: 50rem;
  height: 50rem;
}

.basketball-container{
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.basketball-container > svg{
  transform: translate(-50%, -50%) scale(1.3);
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.link-to-continue-container{
  
  font-family: "Funnel Display", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background:#e76f51;
  font-weight: bold;
  height: 4em;
  box-shadow: 0 4px 0 #264653;
  margin: 0 0 1em 0;
}

.link-to-continue{
  text-decoration: none;
  color: white;
}


 
